<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>RunR.applescript</string>
			<key>Image File</key>
			<string>RunR.png</string>
			<key>Title</key>
			<string>Run R Command in RStudio</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Run the selected text as a R command in RStudio.</string>
	<key>Extension Identifier</key>
	<string>com.emraher.popclip.extension.rrc</string>
	<key>Extension Image File</key>
	<string>RunR.png</string>
	<key>Extension Name</key>
	<string>RStudio</string>
</dict>
</plist>
