<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>iplookup.png</string>
			<key>Title</key>
			<string>iplookup</string>
			<key>URL</key>
			<string>http://{popclip text}.ipaddress.com</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>iplookup</string>
	<key>Extension Identifier</key>
	<string>com.eremrah.popclip.extension.iplookup</string>
	<key>Extension Name</key>
	<string>iplookup</string>
</dict>
</plist>
